@import './Layouts/variables';
@import './Layouts/header';
@import './Layouts//unit_switch';
@import './Layouts/search_box';
@import './Layouts/current_weather';
@import './Layouts/day_forecast';
@import './Layouts/weather_chart';
@import './Layouts/air_pollution';
@import './Layouts//detail_info';

img {
    max-width: 100%;
    max-height: 100%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.App {
    position: absolute;
    inset: 0;

    .app-background {
        background-image: url(./images//back1.webp);
        position: absolute;
        inset: 0;
        z-index: -1;

        &::before {
            content: '';
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(8px);
            position: absolute;
            inset: 0;
        }
    }

    .app-container {
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
        height: 100%;
        color: $dark-blue;

        .left-part {
            background: #f0f5ff;
            overflow-x: hidden;
            overflow-y: scroll;
            height: 100vh;
        }

        .right-part {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 100vh;
            position: relative;
        }

        .btn-prev,
        .btn-next {
            position: absolute;
            display: inline-block;
            width: fit-content;
            top: 52%;
            transform: translateY(-50%);
            border-radius: 50%;
            padding: 0 8px 2px;
            font-weight: 500;
            font-size: 18px;
            transition: all 0.2s;
            background: #e6e6e633;
            border: 1px solid #e6e6e6;

            &:hover {
                background: #e6e6e6b6;
            }
        }

        .btn-prev {
            left: 0;
        }

        .btn-next {
            right: 0;
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
        position: absolute;
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: rgba(128, 128, 128, 0.664);
        transition: all 0.2s;

        &:hover {
            background-color: rgb(143, 143, 143);
        }
    }
}
