@import './Layouts/variables';
@import './Layouts/header';
@import './Layouts//unit_switch';
@import './Layouts/search_box';
@import './Layouts/current_weather';
@import './Layouts/day_forecast';
@import './Layouts/weather_chart';
@import './Layouts/air_pollution';
@import './Layouts//detail_info';

img {
    max-width: 100%;
    max-height: 100%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.App {
    position: absolute;
    inset: 0;

    .app-background {
        background-image: url(./images//back1.webp);
        position: absolute;
        inset: 0;
        z-index: -1;

        &::before {
            content: '';
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(8px);
            position: absolute;
            inset: 0;
        }
    }

    .app-container {
        background-color: rgb(255, 255, 255);
        border-radius: $border-radius;
        overflow-y: auto;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
        height: 100%;
        color: $dark-blue;

        .right-part {
            background: #f0f5ff;
        }
    }
}
