.header .current-time-container .current-time {
  letter-spacing: 0.2rem;
  color: #6f9fff;
}

.header .current-time-container .current-date {
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .overlay-content {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
}

.header .btn-display-search-box {
  margin-right: 8px;
  border-radius: 50%;
  background: #ffff;
  padding: 5px 10px;
}

.header .btn-display-search-box > svg {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media screen and (max-width: 1199px) {
  .header-actions {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767.98px) {
  .header-actions {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.unit-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 1px 8px;
  border-radius: 20px;
}

.unit-switch .btn-unit {
  border-radius: 50%;
  border: transparent;
  padding: 5px 10px;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
}

.unit-switch .btn-unit:hover {
  background: rgba(170, 170, 170, 0.171);
}

.unit-switch .btn-unit:active {
  background-color: rgba(170, 170, 170, 0.24);
}

.unit-switch .margin-right {
  margin-right: 5px;
}

.unit-switch .active {
  background-color: rgba(170, 170, 170, 0.24);
}

.unit-switch .active:hover {
  background-color: rgba(170, 170, 170, 0.24);
}

.search-box-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-box-container .search-box {
  background: #fff;
  border: 1px solid #bdc2db;
  border-right: transparent;
  border-radius: 12px 0 0 12px;
  outline: none;
  padding: 3px 15px;
  width: 80%;
}

.search-box-container .search-box::-webkit-input-placeholder {
  color: #bdc2db;
}

.search-box-container .search-box:-ms-input-placeholder {
  color: #bdc2db;
}

.search-box-container .search-box::-ms-input-placeholder {
  color: #bdc2db;
}

.search-box-container .search-box::placeholder {
  color: #bdc2db;
}

.search-box-container .small-note {
  position: absolute;
  top: 36px;
  font-size: 11px;
  color: #bdc2db;
}

.search-box-container .btn-detect-location {
  border: none;
  border-top: 1px solid #bdc2db;
  border-bottom: 1px solid #bdc2db;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 3px 3px 5px;
  background-color: #fff;
}

.search-box-container .btn-search {
  border: 1px solid #bdc2db;
  border-left: transparent;
  padding: 3px 15px 5px;
  border-radius: 0 12px 12px 0;
  background-color: #fff;
  outline: none;
}

@media screen and (max-width: 767px) {
  .search-box-container .search-box {
    width: 50%;
    padding: 10px 20px;
  }
  .search-box-container .small-note {
    color: white;
    top: 50px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: 500;
  }
}

@media screen and (max-width: 575px) {
  .search-box-container .search-box {
    width: 70%;
  }
}

.current-weather {
  color: white;
}

.current-weather .address {
  font-weight: 500;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-weather .address > span {
  max-width: 11.5rem;
}

.current-weather .address--smaller {
  font-size: 13px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.current-weather .address--smaller > svg {
  margin-right: 6px;
  min-width: 16px;
}

.current-weather .address--smaller > span {
  max-width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.current-weather .detail-item {
  font-size: 0.9em;
  font-weight: 500;
}

.current-weather .detail-item > .col:first-child {
  text-align: right;
  border-right: 1px solid;
}

.current-weather .detail-item > .col:first-child > span {
  margin-left: 5px;
}

.current-weather .detail-item > .col:last-child {
  text-align: left;
}

.current-weather .button-remove {
  background-color: transparent;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-left: auto;
  padding: 0;
}

.current-weather .button-remove:hover > svg {
  fill: rgba(255, 255, 255, 0.788);
}

.current-weather .button-remove:active > svg {
  fill: #c4c4c4;
}

@media screen and (max-width: 1319px) {
  .current-weather .detail-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .current-weather {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .current-weather > [class*='col']:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main-address-card {
  text-align: center;
  border-radius: 12px;
  background-color: #6f9fff;
  padding: 24px 20px;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
}

.main-address-card .current-image {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-address-card .current-image > img {
  width: 30%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main-address-card .current-temperature {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-address-card .current-temperature .temperature-number {
  font-size: 48px;
}

.main-address-card .current-temperature > span:nth-child(2) {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  font-size: 24px;
}

.main-address-card .current-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
}

.main-address-card .current-description > * {
  margin: 0;
}

.main-address-card .current-description > p:first-child {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.main-address-card .current-description > p:nth-child(2) {
  font-size: 14px;
}

.main-address-card .button-disable svg {
  fill: transparent !important;
}

.main-address-card .button-disable:active svg {
  fill: transparent;
}

.main-address-card .detail-item {
  font-size: 0.931em;
}

@media screen and (max-width: 1319px) {
  .main-address-card .address > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: unset;
  }
}

@media screen and (max-width: 1269px) {
  .main-address-card .address {
    font-size: 16px;
  }
  .main-address-card .current-description > p:first-child {
    font-size: 17px;
  }
  .main-address-card .current-description > p:nth-child(2) {
    font-size: 13px;
  }
}

@media screen and (max-width: 1199px) {
  .main-address-card {
    background-color: #fff;
    color: #363e64;
    padding: 20px;
    height: 100%;
  }
  .main-address-card svg {
    fill: #363e64;
  }
  .main-address-card .address {
    font-size: 17px;
  }
  .main-address-card .current-image > img {
    width: 100%;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .main-address-card .current-temperature .temperature-number {
    font-size: 43px;
    margin-left: 20px;
  }
  .main-address-card .current-temperature > span:nth-child(2) {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .main-address-card .current-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 28px;
  }
  .main-address-card .current-description > p:first-child {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .main-address-card .current-description > p:nth-child(2) {
    font-size: 15px;
    color: #bdc2db;
  }
}

@media screen and (max-width: 767px) {
  .main-address-card .current-image > img {
    width: 60%;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  .main-address-card .current-temperature .temperature-number {
    font-size: 40px;
    margin-left: 22px;
  }
  .main-address-card .current-temperature > span:nth-child(2) {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    font-size: 20px;
  }
  .main-address-card .current-description > p:first-child {
    font-size: 17px;
  }
  .main-address-card .current-description > P:nth-child(2) {
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  .main-address-card .address {
    font-size: 16px;
  }
  .main-address-card .current-temperature .temperature-number {
    font-size: 36px;
  }
  .main-address-card .current-image > img {
    width: 70%;
  }
}

@media screen and (max-width: 449px) {
  .main-address-card .current-image > img {
    width: 85%;
  }
}

@media screen and (max-width: 399px) {
  .main-address-card .current-image > img {
    width: 100%;
  }
  .main-address-card .current-temperature .temperature-number {
    font-size: 32px;
    margin-left: 35px;
  }
  .main-address-card .current-description {
    margin-left: 38px;
  }
  .main-address-card .current-description > p:first-child {
    font-size: 16px;
  }
  .main-address-card .current-description > p:nth-child(2) {
    font-size: 13px;
  }
}

.extra-address-card {
  background-color: #524e46;
  border-radius: 12px;
  padding: 12px 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
}

.extra-address-card .temperature-number-smaller {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: right;
  display: block;
}

.extra-address-card .button-remove {
  margin-left: 0;
  padding-left: 6px;
}

@media screen and (max-width: 1277px) {
  .extra-address-card .detail-item svg {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .extra-address-card-list {
    height: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .extra-address-card-list::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  .extra-address-card-list .button-remove {
    margin-left: auto;
  }
  .extra-address-card {
    height: 100%;
    padding: 20px 10px;
    background-color: #524e46c4;
  }
  .extra-address-card .address--smaller {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .extra-address-card .address--smaller > span {
    max-width: none;
  }
  .extra-address-card .extra-card-image {
    width: 44%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .extra-address-card .temperature-number-smaller {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .extra-address-card .extra-card-image {
    width: 44%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (max-width: 767px) {
  .extra-address-card-list {
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .extra-address-card-list > [class*='col'] {
    -ms-flex-preferred-size: 225px;
        flex-basis: 225px;
    scroll-snap-align: center;
  }
  .extra-address-card {
    padding: 15px 10px;
  }
  .extra-address-card .address--smaller {
    font-size: 13px;
    margin: 0 10px 0 0;
  }
  .extra-address-card .address--smaller > span {
    width: 5rem;
  }
  .extra-address-card .extra-card-image {
    width: 28px;
  }
  .extra-address-card .temperature-number-smaller {
    margin-left: 7px;
    font-size: 1.1rem;
  }
}

.day-forecast-list {
  position: relative;
}

.day-forecast .row-forecast-list {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 10px 0;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.day-forecast .row-forecast-list::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}

.day-forecast .row-forecast-list > [class*='col'] {
  scroll-snap-align: start;
}

.day-forecast-item {
  scroll-snap-align: end;
  padding: 4px;
  border-radius: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
}

.day-forecast .date {
  text-align: center;
  margin-bottom: 6px;
  font-weight: 500;
}

.day-forecast .item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.day-forecast .day-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.day-forecast .day-temperature > span:first-child {
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .day-forecast .date {
    font-size: 15px;
  }
}

.chart-container {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
}

[class*='col'] > .chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  min-height: 270px;
}

.air-pollution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
  height: 100%;
}

.air-pollution-caption {
  font-size: 1.15rem;
  margin-bottom: 18px;
  color: #363e64;
}

.air-pollution .index {
  font-size: 30px;
  font-weight: 500;
  color: currentColor;
  margin-right: 25px;
}

.air-pollution .evaluation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.air-pollution .evaluation-info > span:first-child {
  font-weight: 500;
  color: currentColor;
  font-size: 20px;
  margin-bottom: 8px;
}

.air-pollution .evaluation-info > span:nth-child(2) {
  color: #bdc2db;
}

.air-pollution .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

.air-pollution .component-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 12px;
  padding: 6px 4px;
}

.air-pollution .component-item > span:first-child {
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 14px;
}

.air-pollution .component-item > span:nth-child(2) {
  text-transform: uppercase;
  font-size: 12px;
}

.air-pollution .component-item::before {
  content: '';
  border-radius: inherit;
  position: absolute;
  inset: 0;
  background-color: currentColor;
  opacity: 0.1;
}

@media screen and (max-width: 991px) {
  .air-pollution .evaluation-info > span:first-child {
    font-size: 18px;
  }
  .air-pollution .evaluation-info > span:nth-child(2) {
    font-size: 15px;
  }
}

.detail-info {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02);
}

.detail-info .detail-line-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-info .detail-line-item > svg {
  fill: #6f9fff;
}

.detail-info .detail-line-item .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.detail-info .title {
  color: #bdc3db;
  font-size: 11px;
  text-transform: uppercase;
}

.detail-info .value {
  color: #6f9fff;
  font-weight: 500;
  font-size: 17px;
}

.detail-info .uv-index-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-info .color-level {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
}

@media screen and (max-width: 919px) {
  .detail-info .detail-line-item > svg {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .detail-info {
    padding-left: 45px;
  }
  .detail-info .detail-line-item > svg {
    display: block;
  }
  .detail-info .value {
    font-size: 16px;
  }
}

@media screen and (max-width: 529px) {
  .detail-info .detail-line-item > svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 499px) {
  .detail-info {
    padding-left: 35px;
  }
}

@media screen and (max-width: 459px) {
  .detail-info {
    padding-left: 25px;
  }
  .detail-info .detail-line-item > svg {
    display: none;
  }
}

@media screen and (max-width: 399px) {
  .detail-info {
    padding: 20px 15px;
  }
  .detail-info .value {
    font-size: 15px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.App {
  position: absolute;
  inset: 0;
}

.App .app-container {
  background-color: white;
  overflow: hidden;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
  height: 100%;
  color: #363e64;
}

.App .app-container .left-part {
  background: #f0f5ff;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.App .app-container .right-part {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  position: relative;
}

.App .app-container .btn-prev,
.App .app-container .btn-next {
  position: absolute;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  padding: 0 8px 2px;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: #e6e6e633;
  border: 1px solid #e6e6e6;
}

.App .app-container .btn-prev:hover,
.App .app-container .btn-next:hover {
  background: #e6e6e6b6;
}

.App .app-container .btn-prev {
  left: 0;
}

.App .app-container .btn-next {
  right: 0;
}

.App ::-webkit-scrollbar {
  width: 10px;
  position: absolute;
}

.App ::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(128, 128, 128, 0.664);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.App ::-webkit-scrollbar-thumb:hover {
  background-color: #8f8f8f;
}

@media screen and (max-width: 767.98px) {
  .App ::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}
/*# sourceMappingURL=App.css.map */