.current-weather {
    color: white;

    .address {
        font-weight: 500;
        font-size: 17px;
        display: flex;
        align-items: center;

        &--smaller {
            font-size: 13px;
            justify-content: right;
        }

        &--smaller > svg {
            margin-right: 6px;
            min-width: 16px;
        }

        &--smaller > span {
            max-width: 4rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .detail-item {
        font-size: 0.9em;
        font-weight: 500;

        > .col:first-child {
            text-align: right;
            border-right: 1px solid;
        }

        > .col:first-child > span {
            margin-left: 5px;
        }

        > .col:last-child {
            text-align: left;
        }
    }

    .button-remove {
        background-color: transparent;
        border: none;
        position: relative;
        display: flex;
        outline: none;
        transition: all 0.2s;
        margin-left: auto;
        padding: 0;

        &:hover > svg {
            fill: rgba(255, 255, 255, 0.788);
        }

        &:active > svg {
            fill: rgb(196, 196, 196);
        }
    }

    @media screen and (max-width: 1319px) {
        .detail-item {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;

        & > [class*='col']:first-child {
            order: 2;
        }
    }
}
