.current-weather {
    color: white;

    .main-address-card {
        text-align: center;
        border-radius: $border-radius;
        background-color: $blue;
        padding: 24px 20px;
        position: relative;
        box-shadow: $box-shadow;

        .detail-item {
            font-size: 0.931em;
        }
    }

    .extra-address-card {
        background-color: #524e46;
        border-radius: $border-radius;
        padding: 12px 16px;
        cursor: pointer;
        box-shadow: $box-shadow;

        .button-options {
            margin-left: 0;
            padding-left: 6px;
        }
    }

    .address {
        font-weight: 500;
        font-size: 17px;
        display: flex;
        align-items: center;

        &--smaller {
            font-size: 13px;
            justify-content: right;
        }

        &--smaller > svg {
            margin-right: 6px;
            min-width: 16px;
        }

        &--smaller > span {
            max-width: 4rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .current-image {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
            width: 30%;
            transform: scale(1.5);
        }
    }

    .current-temperature {
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;

        .temperature-number {
            font-size: 48px;
        }

        & > span:nth-child(2) {
            transform: translateY(-7px);
            font-size: 24px;
        }
    }

    .temperature-number-smaller {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: right;
        display: block;
    }

    .current-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 7px;

        & > * {
            margin: 0;
        }

        & > p:first-child {
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
        }

        & > p:nth-child(2) {
            font-size: 14px;
        }
    }

    .detail-item {
        font-size: 0.9em;
        font-weight: 500;

        > .col:first-child {
            text-align: right;
            border-right: 1px solid;
        }

        > .col:first-child > span {
            margin-left: 5px;
        }

        > .col:last-child {
            text-align: left;
        }
    }

    .button-options {
        background-color: transparent;
        border: none;
        position: relative;
        display: flex;
        outline: none;
        transition: all 0.2s;
        margin-left: auto;
        padding: 0;

        &:hover > svg {
            fill: rgba(255, 255, 255, 0.788);
        }

        &:active > svg {
            fill: rgb(196, 196, 196);
        }

        .button-remove {
            position: absolute;
            top: 19px;
            right: 2px;
            background: #fff;
            padding: 5px 8px;
            border-radius: 4px;
            font-size: 14px;
            width: 6rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            transition: all 0.1s;
            z-index: 10;

            &:hover {
                background: $light-blue;
                color: white;
            }
        }
    }

    .button-disable {
        svg {
            fill: transparent !important;
        }

        &:active svg {
            fill: transparent;
        }
    }

    @media screen and (max-width: 1319px) {
        .main-address-card {
            .address {
                > span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .detail-item {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 1277px) {
        .extra-address-card {
            .detail-item svg {
                display: none;
            }
        }
    }

    @media screen and (max-width: 1269px) {
        .main-address-card {
            .address {
                font-size: 16px;
            }

            .current-description {
                > p:first-child {
                    font-size: 17px;
                }
                > p:nth-child(2) {
                    font-size: 13px;
                }
            }
        }
    }

    @media screen and (max-width: 1199px) {
        .main-address-card {
            background-color: #fff;
            color: $dark-blue;
            padding: $padding;
            height: 100%;

            svg {
                fill: $dark-blue;
            }

            .address {
                font-size: 17px;
            }

            .current-image > img {
                width: 100%;
                transform: scale(1.4);
            }

            .current-temperature {
                > span:nth-child(2) {
                    transform: translateY(-5px);
                }
            }

            .temperature-number {
                font-size: 43px;
                margin-left: 20px;
            }

            .current-description {
                justify-content: center;
                align-items: flex-start;
                margin-left: 28px;

                > p:first-child {
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                > p:nth-child(2) {
                    font-size: 15px;
                    color: $light-blue;
                }
            }
        }

        .extra-address-card-list {
            height: 100%;
            flex-wrap: nowrap;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
                scrollbar-width: none;
            }

            .button-options {
                margin-left: auto;
            }

            .btn-prev,
            .btn-next {
                color: #fff;
                border-color: transparent !important;
            }

            .btn-prev--second {
                left: 8px !important;
            }

            .btn-next--second {
                right: 8px !important;
            }
        }

        .extra-address-card {
            height: 100%;
            padding: $padding 10px;
            background-color: #524e46c4;

            .address--smaller {
                justify-content: center;
                font-size: 14px;

                & > span {
                    max-width: none;
                }
            }

            .extra-card-image {
                width: 44%;
                transform: scale(1.3);
            }

            .temperature-number-smaller {
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }

    @media screen and (max-width: 991px) {
        .extra-address-card {
            .extra-card-image {
                width: 44%;
                transform: scale(1.2);
            }
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;

        & > [class*='col']:first-child {
            order: 2;
        }

        .main-address-card {
            .current-image > img {
                width: 60%;
                transform: scale(1.6);
            }

            .temperature-number {
                font-size: 40px;
                margin-left: 22px;
            }

            .current-temperature > span:nth-child(2) {
                transform: translateY(-5px);
                font-size: 20px;
            }

            .current-description {
                > p:first-child {
                    font-size: 17px;
                }

                > P:nth-child(2) {
                    font-size: 14px;
                }
            }
        }

        .extra-address-card-list {
            scroll-snap-type: x mandatory;

            & > [class*='col'] {
                flex-basis: 225px;
                scroll-snap-align: center;
            }

            .btn-prev--second,
            .btn-next--second {
                margin-top: 0;
                background-color: #9f9b9be3 !important;
            }

            .btn-prev--second {
                left: -15px !important;
            }
            .btn-next--second {
                right: -15px !important;
            }
        }

        .extra-address-card {
            padding: 15px 10px;

            .address--smaller {
                font-size: 13px;
                margin: 0 10px 0 0;

                > span {
                    width: 5rem;
                }
            }

            .extra-card-image {
                width: 28px;
            }

            .temperature-number-smaller {
                margin-left: 7px;
                font-size: 1.1rem;
            }
        }
    }

    @media screen and (max-width: 575px) {
        .main-address-card {
            .address {
                font-size: 16px;
            }

            .temperature-number {
                font-size: 36px;
            }

            .current-image > img {
                width: 70%;
            }
        }

        .extra-address-card-list {
            .btn-prev--second {
                left: 9px !important;
            }
            .btn-next--second {
                right: 9px !important;
            }
        }
    }

    @media screen and (max-width: 449px) {
        .main-address-card {
            .current-image > img {
                width: 85%;
            }
        }
    }

    @media screen and (max-width: 399px) {
        .main-address-card {
            .current-image > img {
                width: 100%;
            }

            .temperature-number {
                font-size: 32px;
                margin-left: 35px;
            }

            .current-description {
                margin-left: 38px;

                > p:first-child {
                    font-size: 16px;
                }

                > p:nth-child(2) {
                    font-size: 13px;
                }
            }
        }
    }
}
