.current-weather {
    text-align: center;
    border-radius: $border-radius;
    color: white;
    background-color: $blue;
    padding: 24px 20px;
    position: relative;

    .address {
        font-weight: 500;
        font-size: 17px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .current-image {
        text-align: center;

        & > img {
            width: 30%;
            transform: scale(1.5);
        }
    }

    .current-temperature {
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;

        .temperature-number {
            font-size: 55px;
        }

        & > span:nth-child(2) {
            transform: translateY(-7px);
        }
    }

    .current-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        & > * {
            margin: 0;
        }

        & > p:first-child {
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
        }

        & > p:nth-child(2) {
            font-size: 14px;
        }
    }

    .detail-item {
        padding: 5px 36px;

        > .col:first-child {
            text-align: center;
            font-weight: 500;
        }

        > .col:first-child > span {
            margin-left: 5px;
        }

        > .col:last-child {
            text-align: left;
        }
    }

    @media screen and (max-width: 991px) {
        .detail-item {
            & > span:nth-child(2) {
                font-size: 17px;
            }
        }
    }
}
