.day-forecast {
    &-list {
        position: relative;
    }

    .row-forecast-list {
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 10px 0;
        scroll-snap-type: x mandatory;
        transition: all 0.2s;

        &::-webkit-scrollbar {
            scrollbar-width: none;
            display: none;
        }

        > [class*='col'] {
            scroll-snap-align: start;
        }
    }

    &-item {
        scroll-snap-align: end;
        padding: 4px;
        border-radius: $border-radius;
        background-color: #fff;
        box-shadow: $box-shadow;
    }

    .date {
        text-align: center;
        margin-bottom: 6px;
        font-weight: 500;
    }

    .item-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .day-temperature {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > span:first-child {
            font-weight: 500;
        }
    }

    @media screen and (max-width: 991px) {
        .date {
            font-size: 15px;
        }
    }
}
