.detail-info {
    background-color: #fff;
    border-radius: $border-radius;
    padding: $padding;
    box-shadow: $box-shadow;

    .detail-line-item {
        display: flex;
        align-items: center;

        > svg {
            fill: $blue;
        }

        .item-info {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
        }
    }

    .title {
        color: #bdc3db;
        font-size: 12px;
        text-transform: uppercase;
    }

    .value {
        color: $blue;
        font-weight: 500;
        font-size: 17px;
    }

    .uv-index-value {
        display: flex;
        align-items: center;
    }

    .color-level {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-left: 8px;
    }

    @media screen and (max-width: 919px) {
        .detail-line-item {
            > svg {
                display: none;
            }
        }
    }

    @media screen and (max-width: 767.98px) {
        padding-left: 45px;

        .detail-line-item {
            > svg {
                display: block;
            }
        }

        .value {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 529px) {
        .detail-line-item {
            > svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    @media screen and (max-width: 499px) {
        padding-left: 35px;
    }

    @media screen and (max-width: 459px) {
        padding-left: 25px;

        .detail-line-item {
            > svg {
                display: none;
            }
        }
    }
}
