.header {
    position: relative;

    .current-time-container {
        .current-time {
            letter-spacing: 0.2rem;
            color: $blue;
        }

        .current-date {
            font-weight: 500;
            letter-spacing: 0.05rem;
        }
    }
}
