.chart-container {
    position: relative;
    background-color: #fff;
    border-radius: $border-radius;
    padding: $padding;
    box-shadow: $box-shadow;
}

[class*='col'] > .chart-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
